<div class="module-bestseller">
  <div class="container">
    <h3 class="module-title"><?php echo $heading_title; ?></h3>
    <div id="slideshowBestseller" class="row owl-carousel" style="opacity: 1;">
      <?php foreach ($products as $product) { ?>
      <div class="product-layout">
        <div class="product-thumb transition">
          <div class="image"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-responsive" /></a>
            <div class="sticker">
                <?php if ($product['special']) { ?>
                <span class="action">Акция</span>
                <?php } ?>
                <?php if ($product['novelty']) { ?>
                <span class="new">Новинка</span>
                <?php } ?>
              </div>
          </div>
          <div class="caption">
            <h4><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></h4>
            <p>Артикул: <?php echo $product['sku']; ?></p>

          <?php if ($product['price']) { ?>
          <p class="price">
            <?php if (!$product['special']) { ?>
            <?php echo $product['price']; ?>
            <?php } else { ?>
            <span class="price-new"><?php echo $product['special']; ?></span> <span class="price-old"><?php echo $product['price']; ?></span>
            <?php } ?>
            <?php if ($product['tax']) { ?>
            <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
            <?php } ?>
          </p>
          <?php } ?>

          <div class="rating">
            <?php for ($i = 1; $i <= 5; $i++) { ?>
            <?php if ($product['rating'] < $i) { ?>
            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
            <?php } else { ?>
            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
            <?php } ?>
            <?php } ?>
          </div>

          <div class="number-input">
            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
            <input id="input-quantity_<?php echo $product['product_id']; ?>" class="quantity" min="1" value="1" name="quantity" type="number">
            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
          </div>

          </div>
          <div class="button-group">
            <button type="button" onclick="cart.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md"><?php echo $button_cart; ?></span></button>
            <button type="button" data-toggle="tooltip" title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-heart"></i></button>
            <button type="button" data-toggle="tooltip" title="<?php echo $button_compare; ?>" onclick="compare.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-exchange"></i></button>
          </div>
        </div>
      </div>
      <?php } ?>
    </div>

  </div>
</div>

<script type="text/javascript"><!--
$('#slideshowBestseller').owlCarousel({
  items: 4,
  autoPlay: 3000,
  singleItem: false,
  navigation: true,
  navigationText: ['<i class="fa fa-angle-left fa-5x"></i>', '<i class="fa fa-angle-right fa-5x"></i>'],
  pagination: true
});
--></script>