
$blueLight: #c6e7fc;
$blue: #1c8adb;
$blueDark: #010370; //footer & hovers
$blueMedium: #1c8adb;
$blueMenu: #68b7f6;

$blueGreen: #6bbdc0;

$greeLight: #8cc2a9;
$green: #23cd63;

$redLight: #e45a43;
$red: #d90a08;

$black: #222222;

$stickerRed: #d24460;
$stickerGreen: #4d926b;
$stickerYellow: #e6b846;