// CSS from OC
@import 'oc';

@import 'colors';

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');

body.fixed {overflow: hidden;}
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: $black;
	font-size: 14px;
	line-height: 24px;
	width: 100%;
}
a {
	color: $black;
	&:hover {
		color: #000;
	}
}

h1 {
	font-size: 36px;
	color: $blueDark;
	font-weight: 600;
}
.btn.btn-primary {
	background: $blueMenu;
	&:hover {
		background: $blueDark;
	}
}
.form-group select.form-control {
	font-size: 14px;
	height: 41px;
	border-radius: 0;
}
.btn-group-sm>.btn, .btn-sm {
	padding: 10px 20px;
}
.btn-group-lg>.btn, .btn-lg {
	font-size: 15px;
}
.btn {
	background: #fff;
	border: 1px solid #a7a7a7;
	padding: 10px 12px;
	outline: none !important;
	&.active {
		background: $blueMenu;
		box-shadow: none;
		color: #fff;
	}
	&.focus, &:focus, &:hover {color: #fff;}

	&.btn-danger {
		color: #fff;
		background-color: #d9534f;
		border-color: #d43f3a;
		.fa-times {min-width: 13px;}
	}
	&.btn-info {
		color: #fff;
		background-color: #5bc0de;
		border-color: #46b8da;
	}
	&.btn-dark {
		border-radius: 0;
		background: $blueDark;
		color: #fff;
		text-transform: uppercase;
		&:hover {
			background: $blueMenu;
		}
	}
}
.btn-group.square {
	.btn {
		border-radius: 0;
		margin: 0 3px;
	}
}
.select-custom {
	position: relative;
	&:after {
		content: "\f107";
		font: normal normal normal 14px/1 FontAwesome;
		text-align: center;
		line-height: 38px;
		font-size: 20px;
		pointer-events: none;
		position: absolute;
		right: 2px;
		top: 2px;
		bottom: 2px;
		width: 24px;
		background: #fff;
		color: $blueMenu;
		z-index: 2;
	}
}
.pagination {
	> li {
		display: inline-block;
		margin: 0 4px;
		a,span {
			color: #000;
			padding: 8px 17px;
			border-radius: 0 !important;
			&:hover {
				color: #fff;
				background: $blueMenu;
			}
		}
		&.active>a,
		&.active>a:focus,
		&.active>a:hover,
		&.active>span,
		&.active>span:focus,
		&.active>span:hover {
			color: #fff;
			background: $blueMenu;
		}
	}
}

@media (min-width: 768px) {
	.common-home {
		#column-left.col-sm-4 {
			padding-right: 0;
		}
		#content.col-sm-8 {
			padding-left: 0;
		}
	}
}

.alert {
	margin: 5px 0;
	&.alert-success {
		color: $blueDark;
		background-color: $blueLight;
		border-color: $blueLight;
	}
}


div#google_translate_element {
	display: inline-block;
}
#top {
	background: #e5f4fe;
	padding: 7px 0;
	.phones {
		max-width: 200px;
		.ico {
			display: block;
			float: left;
			width: 20px;
			height: 34px
		}
		.number {
			display: block;
			float: left;
			line-height: 18px;
		}
	}
	.list-inline {
		display: inline-block;
		margin: 0;
	}
	.top-link {
		line-height: 36px;
		margin-right: 50px;
		text-decoration: underline;
	}
}
.grafik {
	padding: 10px;
}
header {
	background: $blueLight;
	padding: 18px 0;
	position: relative;
	@media (max-width: 767px) {
		background: #fff;
		.search {
			position: absolute;
			bottom: -52px;
			left: 60px;
			width: 140px;
			z-index: 9999;
			#search {
				.input-lg {
					width: 100%;
					height: 34px;
					border: 1px solid #fff;
					background: #fff;
				}
				.btn-lg {padding: 10px;}
			}
		}
		.buttons {
			position: absolute;
			right: 10px;
			bottom: -52px;
			z-index: 9999;
		}
	}
}
#menuTop {
	text-align: justify;
	background: $blueMedium;
	padding: 18px 0;
	.container {
		position: relative;
		> a {
			color: #fff;
			display: inline-block;
			font-size: 16px;
			font-weight: 600;
			text-align: center;
			text-transform: uppercase;
			padding: 0 20px;
		}
	}


	.popup {
		display: none;
		left: 15px;
		position: absolute;
		text-align: left;
		top: 42px;
		width: 360px;
		z-index: 99;
		&:before {
			content: '';
			top: -28px;
			left: 0; right: 0;
			height: 30px;
			position: absolute;
		}
		&:hover {display: block;}
	}
	.catalogue {
		font-size: 24px;
		max-width: 360px;
		width: 100%;
		&:hover {
			+ .popup {display: block;}
		}
	}

	.navbar-toggle {
		float: left;
		margin: 0;
		.icon-bar {
			background: #fff;
		}
	}

}

/* search */
#search {
	margin-top: 16px;
	.input-lg {
		height: 41px;
		padding: 0 10px;
		background: transparent;
		border: 1px solid $black;
		border-radius: 0;
	}
	.btn-lg {
		border-radius: 0;
		font-weight: 300;
		padding: 10px 35px;
		background: $blueDark;
		border: 1px solid $blueDark;
		color: #fff;
		outline: none;
		box-shadow: none;
	}
}
#wishlist-total {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 16px;
	margin-top: 16px;
	i {
		color: $redLight;
		font-size: 36px;
	}
	.total {
		background: $blueMenu;
		border-radius: 50%;
		bottom: 0;
		color: $black;
		display: block;
		font-size: 9px;
		height: 21px;
		line-height: 10px;
		padding-top: 6px;
		position: absolute;
		right: -5px;
		text-align: center;
		width: 21px;
	}
}
#cart {
	width: auto;
	vertical-align: bottom;
	margin-right: 16px;
	margin-top: 16px;
	margin-bottom: 0;
	button {
		border: none;
		background-color: transparent;
		box-shadow: none;
		outline: none;
		position: relative;
		i {
			color: $redLight;
			font-size: 36px;
		}
		#cart-total {
			background: $blueMenu;
			border-radius: 50%;
			bottom: 0;
			color: $black;
			display: block;
			font-size: 9px;
			height: 21px;
			line-height: 10px;
			padding-top: 6px;
			position: absolute;
			right: -5px;
			text-align: center;
			width: 21px;
		}
	}
}
.ico-cart {background-image: url('../image/ico-cart.png');}
.ico-user {background-image: url('../image/ico-user.png');}
.ico {
	width: 36px;
	height: 36px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
}
#loginTop {
	display: inline-block;
	vertical-align: bottom;
	margin-top: 16px;
	i {
		color: $blueDark;
		font-size: 36px;
	}
}

.socials {
	.ico-fb {background-image: url('../image/ico-fb.png');}
	.ico-yt {background-image: url('../image/ico-yt.png');}
	.ico-gp {background-image: url('../image/ico-gp.png');}
	.ico-viber {background-image: url('../image/ico-viber.png');}
	.ico-skype {background-image: url('../image/ico-skype.png');}
	.ico {
		width: 64px;
		height: 64px;
		display: inline-block;
		margin: 0 5px;
	}
}

footer {
	background: $blueDark;
	color: #fff;
	padding-bottom: 60px;
	.footer-title {
		font-size: 36px;
		font-weight: 600;
		text-transform: uppercase;
		margin: 100px 0 40px;
	}
	.item-title {
		font-size: 18px;
		font-weight: 600;
		margin-top: 0;
		margin-bottom: 10px;
	}
	a {
		color: #fff;
		&:hover {
			color: #eee;
		}
	}
	.suscribe {
		label {
			display: block;
			font-size: 18px;
			font-weight: 600;
			margin: 20px 0 10px;
		}
		.input-email {
			display: inline-block;
			vertical-align: middle;
			height: 31px;
			font-size: 11px;
			background: #00bff3;
			outline: none;
			border: none;
			padding: 0 8px;
		}
		.submit {
			display: inline-block;
			vertical-align: middle;
			height: 31px;
			background: #00f;
			color: #fff;
			width: 51px;
			outline: none;
			border: none;
			float: right;
		}
	}
	@media (max-width: 767px) {
		text-align: center;
		.text-right {text-align: center;}
		form {
			max-width: 226px;
			margin: 0 auto;
		}
	}
}

/* Боковое меню */
.module-category {
	.menu {
		background: $blueMenu;
		list-style: none;
		padding: 3px 0;
		margin: 0;
		li {
			display: block;
			width: 100%;
			position: relative;
			> a {
				display: block;
				padding: 10px 18px;
				font-size: 14px;
				font-weight: 300;
				color: #fff;
				margin: 3px 0;
				position: relative;
				&:after {
					content: '';
					position: absolute;
					bottom: -3px;
					left: 18px;
					right: 18px;
					height: 1px;
					border-bottom: 1px dashed #fff;
				}
				&.parent:before {
					content: "\f105";
					font: normal normal normal 14px/1 FontAwesome;
					position: absolute;
					top: 0; bottom: 0;
					right: 18px;
					height: 14px;
					margin: auto;
				}
			}
			&:hover > a {
				background: $blueDark;
				text-decoration: none;
			}
			&:last-child a:after {display: none;}
	/* children block */
			.children {
				background: $blueMenu;
				display: none;
				padding: 15px 0;
				position: absolute;
				left: 100%;
				z-index: 3;
				top: 0;
				box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.49);
				&:hover {display: block;}
				a {
					color: #fff;
					display: block;
					padding: 5px 18px;
					text-decoration: none;
					&:hover {background: $blueDark;}
				}
				> a {
					width: 100%;
				}
				.parent {
					position: relative;
					&:before {
						content: "\f105";
						font: normal normal normal 14px/1 FontAwesome;
						position: absolute;
						top: 0; bottom: 0;
						right: 18px;
						height: 14px;
						margin: auto;
					}
				}

				@media (min-width: 768px) {width: 242px;}
				@media (min-width: 992px) {width: 316px;}
				@media (min-width: 1200px) {width: 382px;}
			}
			&:hover > .children {display: block;}
			.parent:hover + .children {display: block;}
		}
	}

}


/* Карусель */
.owl-carousel {
	.owl-wrapper-outer {
		border: none;
		border-radius: 0;
	}
	.owl-pagination {
		top: -60px;
	}
	.owl-controls .owl-page {
		span {background: #6dcff6;}
		&.active span {background: $blueDark;}
	}
}

.rating {
	span {
		height: 18px;
		color: $redLight;
	}
}

.product-thumb {
	background: #fff;
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.13);
	margin-bottom: 30px;
	.image {
		padding: 5px;
		position: relative;
		img {width: 100%;}
	}
	.caption {
		height: 158px;
		overflow: hidden;
		text-align: center;
		padding: 0 5px;
		p {
			max-height: 22px;
			overflow: hidden;
			margin-bottom: 4px;
		}
	}
	h4 {
		margin: 0;
		font-size: 14px;
		line-height: 24px;
		height: 48px;
		overflow: hidden;
	}
	p.price {
		color: $blueDark;
		font-weight: 600;
		.price-old {
			text-decoration: line-through;
		}
		.price-new {color: $red;}
	}
	.button-group {
		text-align: center;
		padding-bottom: 20px;
		button:first-child {
			padding: 8px 36px;
			background: $blueMenu;
			border: none;
			outline: none;
			color: #fff;
			font-size: 12px;
			text-transform: uppercase;
			vertical-align: middle;
			&:hover {background: $blueDark;}
			i {display: none;}
		}
		button:nth-child(2) {
			background: none;
			outline: none;
			border: none;
			color: $redLight;
			vertical-align: middle;
			&:hover {color: $red;}
			i {font-size: 36px;}
		}
		button:last-child {display: none;}
	}
	.hidden-grid {display: none;}
	.center {
		text-align: center;
		padding: 0 5px;
		p {margin-bottom: 4px;}
		.short-desc {
			max-height: 22px;
			overflow: hidden;
			margin-bottom: 4px;
		}
	}
	.right {
		.number-input {
			margin-bottom: 12px;
		}
	}
}

.product-list {
	.product-thumb {
		padding: 26px;
		overflow: hidden;
		h4 {
			font-size: 18px;
			font-weight: 600;
		}
	}
	.image, .center, .right {
		width: 33%;
		float: left;
		vertical-align: top;
		position: relative;
	}
	.center {
		text-align: left;
		padding-left: 20px;
	}
	.right {
		padding-top: 20px;
		.number-input {
			margin: 16px 0 20px;
		}
	}
	.hidden-grid {display: block;}
	.hidden-list {display: none;}
	.button-group button:nth-child(2) {
		position: absolute;
		right: -10px;
		top: -10px;
		i {font-size: 24px;}
	}
	p.price {font-size: 24px;}

}

.sticker {
	position: absolute;
	left: 0;
	top: 12px;
	width: 110px;
	z-index: 1;
	span {
		display: block;
		width: 100%;
		color: #fff;
		font-size: 14px;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 6px;
	}
	.action {background: $stickerRed;}
	.hit {background: $stickerYellow;}
	.new {background: $stickerGreen;}
}

/* Рекомендуемые */
.module-featured, .module-bestseller {
	background: #e3f1fb;
	padding: 70px 0;
}
.module-html {
	padding: 70px 15px;
}

.common-home {
	.owl-carousel {margin: 0;}
	.owl-controls {height: 0;}
	.module-latest {padding-left: 26px;}
}

.module-latest {

}
.module-title {
	color: $blueDark;
	font-size: 36px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 40px 0 30px;
	@media (max-width: 767px) {
		font-size: 24px;
	}
}

.module-bestseller {
	.product-layout {
		margin: 0 20px;
	}
	.owl-carousel {
		background: transparent;
		margin-bottom: 40px;
		.owl-wrapper-outer {
			box-shadow: none;
		}
		.owl-pagination {top: 0;}
		.owl-buttons {
			.owl-prev {left: 0;}
			.owl-next {right: 0;}
			div i {
				font-size: 60px;
				margin: -40px 0 0;
				color: $blueMenu;
				&:hover {color: $blueDark;}
			}
		}


	}


}


.number-input {
  border: none;
  display: inline-flex;
  vertical-align: middle;
  button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 19px;
    cursor: pointer;
    margin: 0;
    position: relative;
    background-color: #fff;
    border: 1px solid #b2b2b2;
    color: $blueDark;
    &:before,
    &:after {
      display: inline-block;
      position: absolute;
      content: '';
      width: 1rem;
      height: 1px;
      background-color: $blueDark;
      transform: translate(-50%, -50%);
    }
    &.plus:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  input[type=number] {
    max-width: 102px;
    padding: .5rem;
    background: #ebebeb;
    border: 1px solid #b2b2b2;
    color: $blueDark;
    height: 19px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    -moz-appearance: textfield;
    padding: 0;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
}


.breadcrumb {
	border: none;
	background: none;
	margin: 30px 0 20px;
	padding: 0;
	> li {
		padding: 0 20px 0 0;
		position: relative;
		white-space: nowrap;
		font-weight: 600;
		&:before {display: none;}
		&:after {
			content: "-";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			width: 10px;
			height: 26px;
		}
		a {
			color: $blueDark;
			text-decoration: underline;
		}
		&:last-child {
			font-weight: 300;
			a {text-decoration: none;}
			&:after {display: none;}
		}
		@media (max-width: 767px) {white-space: normal;}
	}
}

.btn-blue {
	background: $blue;
	color: #fff;
	border: none;
	border-radius: 0;
	outline: none;
	box-shadow: none;
	font-size: 12px;
	text-transform: uppercase;
	&:hover {
		color: #fff;
		background: $blueDark;
	}
}
.btn-blue-dark {
	background: $blueDark;
	color: #fff;
	border: none;
	border-radius: 0;
	outline: none;
	box-shadow: none;
	font-size: 12px;
	text-transform: uppercase;
	&:hover {
		color: #fff;
		background: $blue;
	}
}

/* Slick slider */
.slick-slider .slick-list {
	margin: 0 25px;
	padding: 0;
	overflow: hidden;
}
.slider-for .slick-list {
	margin: 0;
}
/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 60px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: 1;
        }
    }
    &.slick-disabled:before {
        opacity: 0.8;
    }
}

.slick-prev:before, .slick-next:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 60px;
    line-height: 1;
    color: #000;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 0;
    [dir="rtl"] & {
        left: auto;
        right: 0;
    }
    &:before {
        content: "\f104";
        [dir="rtl"] & {
            content: "\f105";
        }
    }
}

.slick-next {
    right: 0;
    [dir="rtl"] & {
        left: 0;
        right: auto;
    }
    &:before {
        content: "\f105";
        [dir="rtl"] & {
            content: "\f104";
        }
    }
}

.product {
	#content {
		padding-bottom: 80px;
	}
	.slick-slide {
		outline: none;
		cursor: pointer;
		a {outline: none;}
		img {
			margin: 0 auto;
			max-width: 100%;
		}
	}
	.slider-nav {
		margin-top: 40px;
		margin-bottom: 80px;
		.slick-slide.slick-current img {border: 1px solid $blue;}
	}
	.articul {
		color: $blueDark;
		font-size: 24px;
	}
	.price-item {
		font-size: 36px;
		color: $blue;
	}
	.rating.big {
		.fa {font-size: 24px;}
		span {height: 38px;}
	}
	.btn-buy {
		display: block;
		margin: 0 auto 20px;
		padding: 12px 0;
		max-width: 264px;
		width: 100%;
		text-align: center;
	}
	.number-input.big {
		margin-top: 30px;
		margin-bottom: 30px;
	  button {
	    width: 34px;
	    height: 34px;
	  }
	  input[type=number] {
	    max-width: 196px;
	    height: 34px;
	    font-size: 22px;
	  }
	}

	.nav-tabs>li {
		background: #ecf3f5;
		border: 1px solid #dfdfdf;
		margin-right: 10px;
		font-size: 18px;
		font-weight: 700;
		position: relative;
		&.active {
			border-bottom: 1px solid #fff;
			&:before {
				content: '';
				position: absolute;
				top: -3px;
				left: 0;
				right: 0;
				border-top: 3px solid $blueDark;
			}
		}
		a,
		a:focus,
		a:hover {
			border: none;
			margin: 0;
		}
		@media (max-width: 767px) {
			width: 100%;
		}
	}
}

#form-review {
	h2 {
		font-size: 18px;
		color: $blue;
	}
	label.control-label {
		font-size: 14px;
	}
	input, textarea {
		border-radius: 0;
		font-size: 14px;
	}

	.reviews {
		hr {
			border-color: #000;
			margin-bottom: 0;
			margin-top: 10px;
		}
		.title-block {
			font-size: 18px;
			color: $blue;
		}
		.review-item {
			border-bottom: 1px solid #eaeaea;
			padding-bottom: 30px;
		}
		.title-item {
			padding-top: 20px;
			font-size: 16px;
			.name {
				font-weight: 700;
				margin-right: 12px;
			}
			.date {
				font-weight: 600;
				margin-right: 12px;
			}
		}
		.text {font-size: 14px;}
	}
}
#button-review {
	border-radius: 0;
	font-size: 12px;
	margin-bottom: 60px;
	padding: 11px 69px;
	text-transform: uppercase;
}

#tab-related {
	display: block;
	height: 0;
	overflow: hidden;
	&.active {
		height: auto;
	}
	.product-thumb {
		margin: 10px 15px;
	}
}

.product-catalog {
	.title-page {
		color: $blueDark;
		font-size: 36px;
		font-weight: 600;
		margin: 20px 0 40px;
		text-transform: uppercase;
	}
	.thumb {
		position: relative;
		padding-top: 100px;
		margin-bottom: 34px;
		box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.13);
		.title {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			background: $blueMenu;
			color: #fff;
			font-size: 18px;
			font-weight: 600;
			height: 100px;
			line-height: 30px;
			margin: 0;
			padding: 20px 0;
			text-align: center;
			span {
				display: block;
				height: 60px;
				overflow: hidden;
			}
		}
		.image {
			background-size: cover;
			height: 165px;
			width: 100%;
		}

		&:hover {
			.title {color: $blueDark;}
			&:before {
				content: '';
				position: absolute;
				left: -6px;
				right: -6px;
				top: -6px;
				bottom: -6px;
				border: 1px solid $blueMenu;
			}
		}
	}
}


.ocfilter {
	background: $blueMenu;
	border: none;
	border-radius: 0;
	border-top: 1px solid #fff;
	> .panel-heading {
		background: $blueMenu;
		font-size: 24px;
		font-weight: 600;
		color: #fff;
		border: none;
		border-radius: 0;
	}
	.list-group-item {
		background: $blueMenu;
		padding: 0 20px;
	}
	.selected-options {
		.ocfilter-option {
			background: $blueMenu;
			color: #fff;
			font-size: 14px;
			.btn {
				color: #fff;
				background: transparent;
				border: none;
				font-size: 14px;
				display: block;
			}
		}
		.btn {
			background: $blueDark;
			color: #fff;
			font-size: 14px;
			font-weight: 300;
			text-transform: uppercase;
		}
	}
	.ocfilter-option {
		.ocf-option-name {
			color: #fff;
			font-size: 14px;
		}
		label {
			color: #fff;
			font-size: 14px;
			&.ocf-selected {
				color: #fff;
			}
		}
	}

	.noUi-horizontal {
		height: 1px;
		border: none;
		background: #fff;
		.noUi-connect {
			background: #fff;
			box-shadow: none;
		}
		.noUi-handle {
			background: #fff;
			border-radius: 0;
			border: none;
			cursor: pointer;
			height: 13px;
			left: -2px;
			width: 4px;
			&:after, &:before {display: none;}
		}
	}
	.noUi-pips {display: none;}

}

.information {
	@media (min-width: 768px) {
		.content {
			background: #e3f1fb;
			padding: 30px;
		}
	}
	.content {
		ul {
			list-style: none;
			li::before {
				content: "";
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background: #6dcff6;
				margin-right: 6px;
				display: inline-block;
			}
		}
		a {
			color: $blueDark;
			text-decoration: underline;
		}
	}
	.blue-title {
		color: $blueMenu;
		font-size: 18px;
		line-height: 30px;
	}
	.uppercase {text-transform: uppercase;}


	.owl-carousel {
		margin-bottom: 90px;
		padding: 0 30px;
		.owl-wrapper-outer {
			box-shadow: none;
			img {
				box-shadow: 0 0px 8px rgba(0,0,0,.2);
				margin: 5px auto;
			}
		}
		.owl-buttons div i {
			font-size: 60px;
			margin-top: -40px;
			color: $blueMenu;
			&:hover {color: $blueDark;}
		}
		.fa-chevron-left:before {content: "\f104";}
		.fa-chevron-right:before {content: "\f105";}
		.owl-pagination {top: 20px;}
	}

	.map-holder {
		height: 444px;
		margin: 0 -30px;
	}
	.map-frame {height: 100%;}
}


.not-found {
	.content {
		margin: 30px 0;
		background: #e3f1fb;
		padding: 90px 0;
		overflow: hidden;
		h1 {
			font-size: 100px;
			font-weight: 700;
			margin-top: 0;
			margin-bottom: 30px;
		}
		p {
			font-size: 24px;
			font-weight: 300;
			line-height: 30px;
			margin: 10px 0 20px;
		}
		a {
			font-size: 24px;
			font-weight: 600;
			line-height: 30px;
			text-decoration: none;
			display: inline-block;
			margin-bottom: 5px;
			border-bottom: 1px dashed;
		}
	}
}


.modal {
	.modal-dialog {
		max-width: 934px;
		width: 100%;
		margin: 30px auto;
	}
	&.thin {
		.modal-dialog {
			max-width: 380px;
			width: 100%;
			margin: 30px auto;
		}
	}
	.modal-content {
		border-radius: 0;
	}
	.modal-header {
		border-color: $blueDark;
		padding: 15px 30px;
	}
	.modal-title {
		font-size: 24px;
		font-weight: 600;
		line-height: 24px;
		color: $blueDark;
	}
	button.close {
		color: $redLight;
		font-size: 30px;
		font-weight: 400;
		opacity: 1;
		&:focus {outline: none;}
	}
	.modal-body {
		padding: 15px 30px;
	}
	label {
		font-size: 14px;
		font-weight: 600;
		color: #000;
	}
	input, textarea {
		border-radius: 0;
		background: #d7d7d7;
		color: #000;
		font-weight: 600;
	}
	.btn {
		padding: 11px 28px;
		font-size: 14px;
		font-weight: 300;
		margin-top: 20px;
	}
}



#google_translate_element .goog-te-gadget-simple {
	background: transparent;
	border: none;
	.goog-te-gadget-icon {display: none;}
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: $black;
	font-size: 14px;

	.goog-te-menu-value {
		> img {display: none;}
		> span {
			display: none;
			&:first-child {
				display: inline-block;
				text-decoration: underline;
			}
		}
	}
}

.scrollToTop{
	background: $blueMenu;
	border-radius: 50%;
	bottom: 50px;
	color: #fff;
	display:none;
	font-weight: bold;
	height:40px;
	line-height: 40px;
	position:fixed;
	right:40px;
	text-align:center; 
	text-decoration: none;
	width:40px; 
	&:hover{
		text-decoration:none;
		background: $blueDark;
	}
	i {
		font-size: 40px;
		color: #fff;
		line-height: 34px;
	}
}


.reviews-module {
	margin-top: 170px;
	.review-item {
		padding: 30px;
		border: 1px solid #222;
		margin-bottom: 56px;
		.name {
			font-size: 24px;
			font-weight: 400;
			color: #000;
			margin-right: 10px;
			display: inline-block;
		}
		.date {
			font-size: 18px;
			margin-right: 10px;
			display: inline-block;
		}
		.text {
			font-size: 14px;
			line-height: 18px;
			display: inline-block;
			margin: 10px 0;
		}
	}
	.product {
		position: relative;
		img {max-width: 100%;}
		.title {
			display: inline-block;
			font-size: 22px;
			font-weight: 600;
			color: $blueDark;
			margin-top: 40px;
		}
		.price {
			display: inline-block;
			font-size: 30px;
			font-weight: 600;
			color: $blueDark;
			margin-top: 24px;
		}
		.wishlist {
			border: none;
			background: none;
			color: $red;
			position: absolute;
			right: 15px;
			top: 0;
			i {font-size: 30px;}
		}
	}
	.product-reviews {
		width: 100%;
		.review-single {
			width: 100%;
			border-top: 1px solid #eaeaea;
			margin-top: 30px;
			padding-top: 20px;
			padding-left: 15px;
		}
	}
	.answer {
		padding-left: 30px;
		.block {
			font-weight: 600;
			color: $blue;
		}
		.text {
			padding-left: 20px;
		}
	}

}

#cartModal {
	.modal-body {
		padding: 20px 40px;
	}
	.table>tbody>tr>td,
	.table>tbody>tr>th,
	.table>tfoot>tr>td,
	.table>tfoot>tr>th,
	.table>thead>tr>td,
	.table>thead>tr>th
	{
		vertical-align: middle;
	}
	.table {
		margin-bottom: 0;
		tr {
			border-right: 1px solid #ddd;
			border-left: 1px solid #ddd;
		}
		tbody {
			border-bottom: 1px solid #ddd;
		}
	}
	.title a {
		font-size: 14px;
		font-weight: 300;
		line-height: 18px;
		color: #222;
	}
	.action .btn {
		padding: 0;
		margin: 0;
		i {
			color: #222;
			font-size: 18px;
		}
	}
	.no-border {
		color: #222;
		font-weight: 600;
		.price {
			background: #d7d7d7;
		}
		td {
			margin-bottom: 10px;
			padding: 5px;
		}
	}
	.continue {
		color: $blueDark;
		font-size: 14px;
		font-weight: 300;
		line-height: 36px;
		margin-top: 22px;
		text-decoration: underline;
	}
}

/* mobile menu */
@media (min-width: 768px) {#mobileCategory {display: none !important;}}
@media (max-width: 767px) {
  #mobileCategory {
    position: fixed;
    top: 40px;
    right: 0;
    max-height: calc(100vh - 10px);
    overflow: auto;
    padding: 0;
    background: $blueMenu;
    max-width: 340px;
    width: calc(100vw - 70px);
    z-index: 9999;
    .grey {
      display: block;
      position: relative;
      padding: 3px 10px;
      &:before {
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 0;
        height: 1px;
        background: #fff;
      }
      &.last:before,
      &[aria-expanded="true"]:before {
        display: none;
      }
    }
    .close-mobile-menu {
      border: none;
      background: none;
      color: $red;
      outline: none;
      display: block;
      width: 100%;
      background: $blueMenu;
      padding: 4px 0;
      i {font-size: 24px;}
    }

    .panel {
      background: $blueMenu;
      border: none;
      margin: 0;
      a {
        color: #fff;
        display: block;
        font-size: 14px;
        line-height: 30px;
        padding-left: 4px;
        width: 100%;
        text-decoration: none;
      }
      > a {
        text-transform: uppercase;
        &[aria-expanded="true"] {
          border-bottom: 1px solid #fff;
          &:after {background-position: left center;}
        }
      }
      .parent {
        position: relative;
        &:after {
          content: "";
          background: url('../image/angle.png') no-repeat right center;
          position: absolute;
          right: 5px;
          top: 0; bottom: 0;
          margin: auto;
          height: 8px;
          width: 8px;
          line-height: 8px;
        }
      }
      .panel-collapse {
        > div {
          position: relative;
          > a {
            padding-left: 14px;
          }
        }
      }

    }
  }
}
